@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #485563;
  background: -webkit-linear-gradient(to right, #29323c, #485563);
  background: linear-gradient(to right, #29323c, #485563);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  display: flex;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weatherBox {
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  border: 5px solid #608094;
  padding: 2rem 3rem;
}

.cityName > p {
  position: relative;
}

.cityName > p img {
  width: 20px;
  position: absolute;
}

.invalid {
  color: #ff4b4b;
  margin-top: 1rem;
}

.translater {
  cursor: pointer;
  background-color: #dfdfdfe1;
  font-size: 1.4rem;
  padding: 0.3rem 0.7rem;
  border-radius: 10px;
  color: #17384c;
  width: 10%;
}

.translater:hover {
  background-color: #608094;
  color: white;
}

.translater:hover {
  filter: contrast(100%);
}

@media only screen and (max-width: 880px) {
  .cityName {
    flex-direction: column;
    gap: 1rem;
  }
  .App {
    align-items: initial;
  }
  .translater {
    left: 0;
    top: 2%;
  }
  .currtemp {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
  }
  .weatherData {
    align-items: center;
    justify-content: initial;
    height: fit-content;
  }
  .currtemp div:nth-child(2) {
    width: 250px;
    text-align: center;
    font-size: 2rem;
  }
  .forcastdata {
    margin-top: 2rem;
    width: 300px;
    overflow-x: scroll;
    border-left: 2px solid #608094;
    border-right: 2px solid #608094;
  }
  .forcastdata::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .forcastdata div:nth-child(n + 2) {
    border-left: none;
  }
  .forcastdata div {
    padding: 0 1.5rem;
  }
  .box {
    width: fit-content;
    padding: 1rem;
    border: none;
    background: none;
    height: auto;
    justify-content: center;
  }
  body {
    background-image: none;
    background: #141e30;
    background: -webkit-linear-gradient(to left, #243b55, #141e30);
    background: linear-gradient(to top, #243b55, #141e30);
  }
  .tempAndLogo img {
    padding: 0;
    margin: 0;
    width: 130px;
  }
  .currtemp div {
    padding: 0;
  }
  .tempAndLogo {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
    width: 330px;
    margin-top: 2rem;
    border: 2px solid #608094;
    border-radius: 10px;
  }
  .windData {
    display: none;
  }
}
@media only screen and (min-width: 480px) {
  .rigtharrow {
    display: none;
  }
  .leftarrow {
    display: none;
  }
}
